html, body, div, h1, h2, h3, h4, h5, h6, p,dl, dt, dd, ol, ul, li,fieldset, form, label,input,legend,table, caption, tbody, tfoot, thead, tr, th, td{ margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{ font-size:100%; font-weight:normal}
ul,ol{list-style:none;}
img{border:0 none; _height:auto!important;}
blockquote,q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after { content:""; content:none;}
table {border-collapse:collapse;border-spacing:0;}
strong,em,i{ font-style:normal; font-weight:normal}

body{ font:14px/1.5 "Microsoft YaHei",Avenir,Helvetica,Verdana,Hiragino Sans GB,STHeiti,WenQuanYi Micro Hei,Droid Sans Fallback,SimSun,sans-serif; background:#015193}
html,body{height:100%; overflow:hidden;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline; }
.hide{ position:absolute; left:-9999px;}
.nobd{border:0 none!important;}
.nomg{ margin:0!important}
.area{ margin:0 auto; width:960px;}





.wrapper{ height:100%; position:relative; overflow:hidden; min-width:960px;}
.header{ z-index:10000; position:absolute; left:0; top:0; width:100%; height:56px; min-width:960px;}
.header .area{ height:56px; position:relative}
.hd_line{ position:absolute; bottom:0; left:0; width:100%; height:1px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#33FFFFFF', endColorstr='#33FFFFFF');background:rgba(255,255,255,0.2); overflow:hidden;}
.logo{ float:left;}
.logo a{ float:left;width:190px; height:56px;overflow:hidden; _background:url(img/logoIE6.png) no-repeat}
.logo a img{ max-height:100%; max-width:100%; _display:none}
.top_nav{ position:absolute; right:0; top:0;}
.top_nav li{ float:left; line-height:56px; margin-left:22px; _display:inline;}
.top_nav li a{ color:#fff; opacity:0.5;filter:alpha(opacity=50);}
.top_nav li.on a,.top_nav li a:hover{opacity:1;filter:alpha(opacity=100);text-decoration:none}
.hd_down,.hd_store{ display:none;;margin:15px 0 0 20px; float:left;}
.hd_store{ display:block;}
.hd_down a,.hd_store a{ float:left; height:24px; line-height:24px;border:1px solid #fff; color:#fff; padding:0 12px; text-align:center; font-size:14px; display:inline;opacity:0.5;filter:alpha(opacity=50)}
.hd_down a:hover,.hd_store a:hover{ text-decoration:none;opacity:1;filter:alpha(opacity=100)}


.scroll_box{ position:absolute; left:0; top:0; width:100%; height:100%;}
.cont_item{ width:100%; height:100%; overflow:hidden; position:relative; }
.cont_item img{max-height:100%; _height:100%;max-width:100%}
.ct_1{ background:#FFFFBB;}
.ct_3{ background:#FFBB00}
.ct_4{ background:#A6D152}
.ct_5{ background:#587FA6}
.ct_6{ background:#35AAD8}
.ct_7{ background:#A6D152}
.gb_tt_area,.gb_img_box,.btn_down,.txt_area{ position:absolute; left:0; top:0; width:100%; text-align:center;}



.main_ct1{ position:absolute; left:0; top:0; width:100%; height:100%;}
.ct_1 .gb_tt_area{ top:15%; height:14.6%} 
.ct_1 .gb_img_box{ top:34%; height:56.8%}
.btn_down{ top:24.4%; height:5.2%;}
.btn_img img{border:1px solid #00DD00;}
.txt_area{ top:25.6%}
.txt_area p{ text-align:center; color:#838998; font-size:1.85em}
.btn_scroll{ position:absolute; bottom:8px; left:50%; margin:0 0 0 -16px; width:32px; cursor:pointer; text-align:center; color:#E0E1E5}
.btn_scroll i{ display:block; background:url(img/next_bg.png) no-repeat; width:31px; height:8px;}

.ct_2{ position:absolute; left:0; top:0; width:0%;z-index:10;overflow:hidden; background:#FFBB00;}
.ct_2 .gb_tt_area{ top:5%; height:8.7%} 
.ct_2 .gb_img_box{ top:34%; height:56.8%;}
.ct2_box{ position:absolute; left:0; top:0; height:100%;}

.ct_3{position:absolute; left:auto; top:0; right:0; width:0%; z-index:10; background:#04678B; overflow:hidden;}
.ct3_box{ position:absolute; right:0; top:0; height:100%;}
.ct_3 .gb_tt_area{ top:15%; height:14.6%} 
.ct_3 .gb_img_box{ top:38.2%; height:33.4%;}
.bar_box{ background:url(img/bar.png) no-repeat 0 -48px; position:absolute; top:76%; left:50%; width:398px; height:42px; margin:0 0 0 -199px;}
.bar_box_full{ position:absolute; left:0; top:0; width:0%; height:42px;background:url(img/bar.png) no-repeat}

.bullet{ position:absolute;left:-1124px; top:76%; width:1124px; height:42px; background:url(img/bullet.png); z-index:1000;}
.bullet_line{ display:none;opacity:0;filter:alpha(opacity=0); _display:none!important;z-index:10; position:absolute;width:100%; white-space:nowrap; overflow:hidden;}
.bullet_line span{ _overflow:hidden;}
.line_1{ left:-14%; top:22.6%}
.line_1 span{ display:inline-block;width:34%; height:2px; background:#448EA8; margin-right:46%}
.line_2{ right:-22%; top:26.4%}
.line_2 span{ display:inline-block;width:34%; height:4px; background:#7EB1C3; margin-right:46%}
.line_3{ left:-35%; top:47.4%}
.line_3 span{ display:inline-block;width:34%; height:2px; background:#7EB1C3; margin-right:46%}
.line_4{ right:-76%; top:80.5%}
.line_4 span{ display:inline-block;width:34%; height:1px; background:#7EB1C3; margin-right:46%}
.line_5{ left:-60%; top:92%}
.line_5 span{ display:inline-block;width:34%; height:4px; background:#7EB1C3; margin-right:46%}

.cpu_area{ display:none;opacity:0;filter:alpha(opacity=0); position:absolute; left:0; top:0; z-index:100; width:100%; height:100%;}
.cpu{ top:34%; height:45.3%;}
.cpu img{ max-height:100%; max-width:100%; _height:100%}

.video{ display:none; z-index:99; top:50%; height:18.6%}
.video img{ max-height:100%; max-width:100%; _height:100%}

.ct_4{background:#2E3C5C}
.ct_4 .gb_tt_area{ height:4.7%; top:15%}

.cloud_area{position:absolute; left:0; top:100%; z-index:100; width:100%; height:100%;}
.cloud{ top:33%;height:46.1%;}
.cloud img{ max-height:100%; max-width:100%; _height:100%}
.cloud2{opacity:0;filter:0;}

.video2{display:none; z-index:99; top:50%; height:26.6%}
.video2 img{ max-height:100%; max-width:100%; _height:100%}

.ct_5{background:#015193}
.ct_5 .gb_tt_area{ height:4.7%; top:15%}

.search_area{ position:absolute;width:100%; height:100%; left:0; top:100%; z-index:100;}
.search_area img{ max-height:100%; max-width:100%; _height:100%}
.s_main{ height:53.6%; top:33%} 
.s_drop{height:53.6%; top:33%;opacity:0;filter:alpha(opacity=0)}
.s_icon{ height:25.7%; top:48.8%;}

.disk{ display:none; height:23.1%; top:50%; z-index:99;}
.disk img{max-height:100%; max-width:100%;}

.ct_6{background:#04678B}
.ct_6 .gb_tt_area{ height:4.8%; top:15%}

.store_area{position:absolute;width:100%; height:100%; left:0; top:100%; z-index:100;}
.store_area img{ max-height:100%; max-width:100%; _height:100%}
.app_store{ height:53.4%; top:34.4%}
.app_store2{opacity:0;filter:alpha(opacity=0)}

.footer{ font-size:12px; position:absolute; bottom:0; left:0; width:100%; height:38px; line-height:38px; color:#769EB3; z-index:1000;}
.footer .area{ position:relative;}
.ft_bar{ position:absolute; right:0; top:0;}
.footer .area p{color:#fff; opacity:0.5;filter:alpha(opacity=50);}
.ft_bar a{color:#fff; opacity:0.5;filter:alpha(opacity=50);}
.ft_bar a:hover{opacity:1;filter:alpha(opacity=100);}
.ft_bar span{ margin:0 5px; opacity:0.5;filter:alpha(opacity=50); color:#fff}

.side_nav{ z-index:1000; position:absolute; right:22px; top:50%; color:#A4BDCA;}
.side_nav li{ float:right; clear:both; width:7em;height:20px; position:relative; font-size:12px; padding-right:18px; text-align:right;}
.side_nav li i{ position:absolute; right:3px; top:8px;height:4px; width:4px; border-radius:2px; background:#fff; overflow:hidden;}
.side_nav li.on i{ background:none; width:8px; height:8px; top:5px; right:0;border:1px solid #fff; border-radius:5px;}
.side_nav li span{ display:none;line-height:18px;opacity:0;-webkit-transition:all 0.3s;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s;}
.side_nav li:hover span{ display:block\9;opacity:1;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s;}

.ct_2 .txt_area,.ct_3 .txt_area,.ct_4 .txt_area,.ct_5 .txt_area,.ct_6 .txt_area{ top:22%;}
.ct_2 .txt_area p,.ct_3 .txt_area p,.ct_4 .txt_area p,.ct_5 .txt_area p,.ct_6 .txt_area p{ background:url(img/tt_spr@1x.png) no-repeat; margin:0 auto;}
.ct_2 .txt_area p{ width:540px; height:52px; background-position:0 0;}
.ct_3 .txt_area p{width:558px; height:46px; background-position:0 -90px;}
.ct_4 .txt_area p{width:664px; height:25px; background-position:0 -55px;}
.ct_5 .txt_area p{width:626px; height:55px; background-position:0 -134px;}
.ct_6 .txt_area p{width:630px; height:45px; background-position:0 -185px;}

@media only screen and (-webkit-device-pixel-ratio: 2),
       only screen and (-moz-device-pixel-ratio: 2),
       only screen and (-o-device-pixel-ratio: 2/1),
       only screen and (device-pixel-ratio: 2) {
		.ct_2 .txt_area p,.ct_3 .txt_area p,.ct_4 .txt_area p,.ct_5 .txt_area p,.ct_6 .txt_area p{ background-image:url(img/tt_spr@2x.png); background-size:458px auto;}
}






