* {margin:0; padding:0;}
html, body{margin:0;padding:0;width:100%;height:100%; overflow:hidden;font-family:'Microsoft YaHei',Arial,sans-serif; color:#333;position: relative;}
.top {width:100%;height:63px; min-width:500px;position:fixed; top:0; left:0; z-index:800;border-bottom:solid 1px silver;background-color:white;opacity:0.9;filter:alpha(opacity=90);}
.top_in {width:90%;min-width:500px; height:60px; margin:0 auto; position:relative;}
.top_in a,.top a{text-decoration:none;cursor: pointer;}
.top .logo {width:271px; height:54px; position:absolute; top:12px; left:0;}
.top ul {float:right; font-size:16px; text-align:center; margin-top:15px;height:46px;color:#333333}
.top ul li {display:block; height:47px; line-height:30px; margin:0 1px; float:left;width:80px;}
.top ul li.appoint {margin-left:50px;width:118px;height:32px;background:url(img/buytx_btn.png) 0 0 no-repeat;}
.top ul li.appoint:hover{background-position:0 -32px;}
.top ul li.appoint:active{background-position:0 -64px;}
.top ul li.buy {width:120px; background:#42c207; color:#FFF;}

#progress_nav{width:13px;height:100px;position:fixed;top:45%;right:10px;z-index:800; _position:absolute;}
#progress_nav div{width:100%;height:13px;margin-top:10px;cursor:pointer}
.unsel_nav_white{background:url(img/white_unsel.png)}
.sel_nav_white{background:url(img/white_sel.png)}
.unsel_nav_black{background:url(img/black_unsel.png)}
.sel_nav_black{background:url(img/black_sel.png)}

#stage0,#stage1,#stage2/*,#stage3,#stage4 */{position:relative;}
.block {width:1000px; height:700px; position:absolute; margin:-350px 0 0 -500px; top:50%; left:50%;}
.tab_active{color:#b60005;border-bottom:solid 1px #b60005}
.tab_menu{color:#333333}
.top_in ul a {color:#333333;}
.top_in ul a:hover{color:#333333;}
.top_in ul a:active{color:#333333;}
.main_wrap {width:100%; /*height:100%; overflow:auto;*/ margin:0 auto; position:relative; overflow:hidden;}

#stage0 {height:1080px; zoom:1; overflow:hidden;}
/*#stage0 {
	width: 200%;
	height: 1080px;
	margin-left: -100%;
	left: 50%;
	width: 98.69%\9;
	width:100%\0;
	margin-left: 0%\9;
	left: 0%\9;
	overflow: hidden\9;
}*/
#stage0 div {position:absolute;}
#red_bg {width:300%; margin-left:-150%; left:50%; height:1080px; position:absolute; background:#ff99cc; bottom:50px;}
#op1 {width:300px; height:433px; background:url(img/op1.png) no-repeat; bottom:-200px; margin-left:-150px; left:50%; z-index:12;}
#op2 {width:300px; height:433px; background:url(img/op2.png) no-repeat; bottom:-200px; margin-left:-150px; left:50%; z-index:11;}
#op3 {width:300px; height:433px; background:url(img/op3.png) no-repeat; bottom:-200px; margin-left:-150px; left:50%; z-index:10;}
#op4 {width:300px; height:433px; background:url(img/op4.png) no-repeat; bottom:-200px; margin-left:-150px; left:50%; z-index:9;}
#op5 {width:1178px; height:381px; background:url(img/op5.png) no-repeat; bottom:300px; margin-left:-530px; left:50%; z-index:12;}
#nextbuy {width:296px; height:66px; display:block; position:absolute; top:280px; margin-left:-148px; left:50%; background:url(img/nextbuy_btn.png) 0 0 no-repeat;}
#nextbuy:hover {background-position:0 -66px;}
#nextbuy:active {background-position:0 -132px;}
#price {width:199px; height:160px; bottom:-73px; margin-left:-95px;text-align: center; left:50%; z-index:15;}
#price img{width:188px;height: 69px;margin: 0 auto;margin-left:4%;margin-top:10%;}
#buy_btn {width:199px; height:60px; background:url(img/buy_btn.png) no-repeat; position:absolute; bottom:-50px; left:0; display:block;}
#jd_btn {width:199px; height:60px; background:url(img/jd_normal.png) no-repeat; position:absolute; bottom:-50px; left:-130px; display:block;}
#tm_btn {width:199px; height:60px; background:url(img/tm_normal.png) no-repeat; position:absolute; bottom:-50px; left:130px; display:block;}
/*#price {width:199px; height:60px; bottom:-100px; margin-left:-100px; left:50%;}
#buy_btn {width:199px; height:60px; background:url(img/normal.png) no-repeat; position:absolute; bottom:0; left:0; display:block\9;}
*/
#buy_btn:hover {background-position:0 -60px;}
#jd_btn:hover {background:url(img/jd_hover.png) no-repeat;}
#tm_btn:hover {background:url(img/tm_hover.png) no-repeat;}
.over_btn {width:199px; height:60px; background:url(img/buy_btn.png) no-repeat;display:block; margin:0 auto;}
.over_btn:hover {background-position:0 -60px;}

#stage1 {width:100%; width: 98.59%\9;width:100%\0;height:1080px; background:url(img/plugin.jpg) no-repeat center center; background-size: cover;}
#stage1_text{width:100%; height:1080px;background:url(img/plugin_text.png) no-repeat center center; background-size: cover;z-index:1000}
#stage2 {width:100%; width: 98.59%\9;width:100%\0;height:1080px; background:url(img/scan.jpg) no-repeat center center; background-size: cover;}
#stage2_text{width:100%; height:1080px;background:url(img/scan_text.png) no-repeat center center; background-size: cover;z-index:1000}
/*#stage3 {width:100%; width: 98.59%\9;width:100%\0;height:1080px; background:url(img/game_acc.jpg) no-repeat bottom center;background-size: cover;}
#stage3_text{width:100%; height:1080px;background:url(img/game_acc_text.png) no-repeat bottom center;background-size: cover;z-index:1000;}*/
/*#stage4 {width:100%;width: 98.59%\9; width:100%\0;height:1080px; background:url(img/priority.jpg) no-repeat center center; background-size: cover;}
/*#stage4_text{width:100%; height:1080px;background:url(img/priority_text.png) no-repeat center center; background-size: cover;z-index:1000}
#stage5 {width:100%; width: 98.59%\9;width:100%\0;height:1080px; background:url(img/m_games.jpg) no-repeat center center; background-size: cover;background-color:#d9dadf;position: relative;}
#stage5_text{width:100%; height:1080px;background:url(img/m_games_text.png) no-repeat bottom center; background-size: cover;z-index:1000;}*/
#stage6 {width:100%; height:1080px; background:url(img/buy.jpg) no-repeat center center; background-size: cover;}
#stage6 {
	width: 100%;
	width: 98.59%\9;
	width:100%\0;
	overflow: hidden;
	overflow: hidden;
	height: 1080px;
	background: url(img/buy.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
}
/*#stage6_text{width:100%; height:1080px;background:url(img/buy_text.png) no-repeat center center; background-size: cover;z-index:1000}

#stage7{width:100%; height:160px;background:url(img/bottom_img.png) no-repeat top center; background-size: cover;z-index:1000}*/

#bottom_div{width:400x;height:60px;float:left;margin:0 auto;margin-left: 620px;padding-top:45px;}
#foot{float:left;margin-top:-6px;font-size: 12px;font-family: "Microsoft YaHei" ,微软雅黑;text-align: center}*/
#link a{text-decoration: none;color:#628acd;}
#link a:hover{color:#628acd;}
#link a:active{color:#628acd;}
#copy_right{margin-top:11px;color:#6d6b73;line-height: 20px}
.img_logo{width:28px;height: 24px;float:left;margin-top:-7px;margin-left:20px;}

#img_t_weibo{background: url('img/t_weibo_normal.png');cursor: pointer;}
#img_weibo{background: url('img/weibo_normal.png');cursor: pointer;}
#img_weixin{background: url('img/weixin_normal.png');cursor: pointer;}
#img_t_weibo:hover{background: url('img/t_weibo_hover.png');}
#img_weibo:hover{background: url('img/weibo_hover.png');}
#img_weixin:hover{background: url('img/weixin_hover.png');}
.line_style{color: #6d6b73}

#mask_div{
	width:100%;
	height:1500px;
	z-index: 900;
	position: fixed;
	top:0px;
	left:0px;
	background-color: black;
	filter:alpha(opacity=60);
   -moz-opacity:.6;    
    opacity:0.6;   
	display:none;
}
#code_panel{
	width:800px;
	height:450px;
	position:fixed;
	top:280px;
	left:560px;
	z-index:1000;
	display:none;
	background:url("img/qr-code.jpg");
}
#code_icon {position:absolute;right:-37px;top:-1px;margin:0px;padding:0px;cursor:pointer;z-index: 1000;}
#video_close {position:relative;right:-290px;top:-440px;margin:0px;padding:0px;cursor:pointer;z-index: 1000;}
.tips_close{background:url(img/close.jpg);width:36px;height:36px;list-style-type:none;z-index: 1000;}
#icon_div{height:60px;width:260px;float:left;font-size:14px;padding-top:45px;margin-left:80px;color:#6D6B73}

#gift-display-panel{
	width:800px;
	height:846px;
	position:fixed;
	top:70px;
	left:560px;
	z-index:1000;
	display:none;
	background:url("img/gift_list.png");
}
#img_weixin img{position:absolute;top:-155px;left:-53px; display: none;}
#img_weixin{position: relative;}

.hot-spot{display: block;text-decoration: none;cursor: pointer;position: absolute;}
.float-win{position: absolute;display: none;z-index: 1000;left: 0;top: 0;height: 100%;width: 100%;text-align: center;}
#play-video-btn{}
#check-gift-btn{}
#gift-display-panel img{height: 80%;margin: 108px auto;}
#video{margin: 108px auto;display: inline-block;}
#video-content{height: 100%;width:100%;}